.site-footer {
  background-image: url('../../assets/images/dark-wood.png');
  color: white;
  padding: 1.5em 0;

  img {
    text-align: right;
    height: 3em;
    margin-top: 2em;
  }
}
.footer-copyright {
  text-align: center;
  text-transform: uppercase;
  font-family: $font__accent-family, $font__main;
}

.footer-boxes {
  display: flex;
  flex-flow: row, wrap;
  justify-content: space-between;
  line-height: 1.2;
  .footer-text {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    div {
      padding-right: 3em;
    }
  }
  i {
    padding-right: 0.5em;
  }
  h3 {
    font-size: $font__base-size * 1.2;
    text-transform: uppercase;
    color: $color__brand-orange;
  }
  a,
  a:visited {
    color: white;
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}
