.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2px 2px 0 2px;
  margin-top: 1.5em;
  a {
    font-family: $font__accent-family, $font__main;
  }
}
.header-tent {
  h1 {
    overflow: hidden;
    height: 33px;
    width: 50px;
  }
}
.sticky-header {
  z-index: 5;
  background-color: white;
  opacity: 0.7;
  border: 1px solid $color__brand-lightgrey;

  h1 {
    background: url('../../assets/images/logos/inhabitent-logo-tent.svg'),
      no-repeat;
    background-size: cover;
  }
}

.fixed-header {
  position: absolute;
  color: white;
  background-color: none;
  a {
    color: white;
    &:hover {
      color: $color__brand-yellow;
    }
  }
  h1 {
    background: url('../../assets/images/logos/inhabitent-logo-tent-white.svg'),
      no-repeat;
    background-size: cover;
  }
}

.header-wrapper {
  height: 60px;
  display: flex;
  flex-flow: row, nowrap;
  justify-content: space-between;
  align-items: center;
  .main-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row, nowrap;
    .menu-item {
      text-transform: uppercase;
      padding: 0 0.5em;
    }
  }
}
.search-form {
  fieldset {
    margin: 0;
    padding: 0;
  }
}
