.blog,
.single-post,
.archive.category,
.archive.date,
.page-id-29,
.search-results,
.search-no-results,
.error404 {
  .site-content {
    @extend .container;
    display: flex;
    flex-flow: row wrap;
    margin-top: 60px;
    #primary {
      max-width: 60%;
      border-right: 1px solid $color__brand-lightgrey;
    }
    #secondary {
      max-width: 30%;
    }
    label {
      text-transform: uppercase;
    }
    input,
    textarea {
      background-color: #f4f4f4;
      border-radius: 0;
    }
    input[type='submit'] {
      border: none;
      color: white;
      background-color: $color__brand-green;
      box-shadow: none;
      text-transform: uppercase;
      height: 3em;
      width: 8em;

      &:hover {
        background-color: $color__brand-darkgreen;
      }
    }
  }
  .entry-footer {
    span {
      padding: 0 1em;
      text-transform: uppercase;
      font-family: $font__main;
    }
  }
}

//findus
.page-id-29 {
  iframe {
    border: none;
    height: 300px;
  }
}
//journal archives
body.single-post,
body.blog {
  .site-main {
    padding-right: 2em;
    margin-top: 2em;
  }
  .entry-header {
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
  }
  .entry-title {
    position: absolute;
    top: 15px;
    left: 0;
    box-sizing: border-box;
    max-width: 80%;
    padding: 0.2em 0.5em;
    padding-right: 2em;
    color: white;
    a:hover {
      color: $color__brand-yellow;
    }
    a {
      color: white;
    }
    background-color: $color__brand-green;
  }
  .entry-meta {
    position: absolute;
    bottom: 0.5em;
    right: 0;
    box-sizing: border-box;
    padding: 0.1em 1.5em;
    span,
    a {
      color: white;
    }
    background-color: $color__brand-green;
  }
}
//about
.page-template-about {
  .site-content {
    margin-bottom: 3em;
    .entry-content {
      margin-top: 0;
    }
    h2,
    p {
      padding: 1em 2em;
      @extend .container;
    }
    h2 {
      text-align: center;
    }
    h1 {
      color: white;
    }
  }
}

//search results
.search-results {
  .page-header {
    border-bottom: 1px solid $color__brand-lightgrey;
    margin-right: 2em;
  }
  article {
    padding: 2em;
  }
}
.search-no-results .site-content {
  .search-form {
    .search-submit {
      display: none;
    }

    input {
      background-color: #f4f4f4;
      border: 1px solid $color__brand-lightgrey;
      border-radius: 1;
      box-shadow: none;
      text-transform: none;
    }

    .search-field {
      display: inline-block;
    }
  }
}
// 404 page
.error404 {
  .page-content {
    .search-submit {
      display: none;
    }
    .search-field {
      border-radius: 0;
      padding: 0.5em;
      border: 1px solid $color__brand-lightgrey;
      text-transform: none;
      display: block;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}

//adventures archive
.post-type-archive-adventure {
  ul {
    height: 1000px;
    list-style: none;
    padding: 0;
    margin: 0;
    grid-template-areas: 'post-one post-two' 'post-three post-four';
  }
}

//single adventures
.single-adventure {
  article {
    margin-bottom: 3em;
  }
  .adventure-page-image img {
    height: auto;
    width: 100%;
  }
}
