.blog,
.single-post,
.archive.category,
.archive.date,
.page-id-29 {
  .site-content {
    @extend .container;
    display: flex;
    flex-flow: row wrap;
    margin-top: 60px;
    #primary {
      max-width: 60%;
      border-right: 1px solid $color__brand-lightgrey;
    }
    #secondary {
      max-width: 30%;
    }
  }
}
//findus
.page-id-29 {
  iframe {
    border: none;
    height: 300px;
  }
  label {
    text-transform: uppercase;
  }
  input,
  textarea {
    background-color: #f4f4f4;
    border-radius: 0;
  }
  input[type='submit'] {
    border: none;
    color: white;
    background-color: $color__brand-green;
    box-shadow: none;
    text-transform: uppercase;
    height: 3em;
    width: 8em;

    &:hover {
      background-color: $color__brand-darkgreen;
    }
  }
}

//about
.page-template-about {
  .site-content {
    margin-bottom: 3em;
    h2,
    p {
      padding: 1em 2em;
      @extend .container;
    }
    h2 {
      text-align: center;
    }
    h1 {
      color: white;
    }
  }
}
