.widget-area {
  width: 30%;
  border-left: 1px solid $color__brand-lightgrey;
  padding-left: 2em;
  padding-top: 2em;

  i {
    padding-right: 0.5em;
  }
  ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
  }
}
.week-days {
  font-weight: bold;
}
