// Structure

$base__space-unit: 1.5rem;

// Colors

$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

$color__border: #e1e1e1;
$color__dashed-border: #c8c8c8;
$color__base-font: #404040;
$color__main-background: #ffffff;
$color__brand-green: #248a83;
$color__brand-purple: #2f1339;
$color__brand-orange: #d99054;
$color__brand-yellow: #f0e4d1;
$color__brand-lightgrey: #a1a1a1;
$color__brand-mediumgrey: #808080;

// Typography

$font__main: sans-serif;
$font__code: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
$font__pre: 'Courier 10 Pitch', Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__base-size: 16px;
$font__base-line-height: 1.75;
$font__main-family: 'Merriweather Web';
$font__accent-family: 'Novecento Sans Web';
$font__base-spacing: 1.5rem;
